/* .container{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.column{
    flex: 1;
    margin-right: 16px;
}

.column:last-child{
    margin-right: 0;
}

.card{
    margin-bottom: 16px;
}

.mat-card{
    padding: 16px;
    background-color: #f5f5f5;
}

.mat-card-content p{
    margin: 8px 0;
} */
/* 
.container{
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

.main-card{
    flex: 1;
    margin: 16px;
    padding: 16px;
    background-color: #f3f4f6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.main-card:hover{
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.inner-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
}

.inner-card{
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: box-shadow 0.2s;
}

.inner-card:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.mat-card-content p{
    margin: 8px 0;
} */

/* .grid-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  
  .grid-item {
    flex: 1;
    margin: 10px;
  }
   */

.grid-container {
    height: 45vh;
    display: flex;
    justify-content: space-between;
}

.grid-item {
    flex: 1;
    margin: 10px;
}

.example-card {
    max-width: 400px;
}

h2 {
    margin-top: 2%;
    margin-left: 2%;
    font-size: 25px;
    color: #333;

    margin: 1%;
    margin-left: 2%;
    font-size: 25px;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.explore-section {
    padding:5px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}