<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marshals.integration.mapper.ClientPortfolioMapper">
	
	<resultMap id="holdingMap" type="Holding">
		<id property="instrumentId" column="instrument_id" />
		<result property="quantity" column="quantity" />
		<result property="avgPrice" column="avg_price" />
	</resultMap>

	<resultMap id="clientPortfolioResultMap" type="ClientPortfolio">
		<id property="clientId" column="client_id" />
		<result property="currBalance" column="curr_balance" />
	</resultMap>

	<resultMap id="clientPortfolioWithHoldings"
		extends="clientPortfolioResultMap" type="ClientPortfolio">
		<collection property="holdings" ofType="Holding" resultMap="holdingMap"
			column="instrument_id" />
	</resultMap>

	<select id="getClientPortfolio" resultMap="clientPortfolioWithHoldings">
		SELECT
		c.client_id,
		c.curr_balance,
		h.instrument_id,
		h.quantity,
		h.avg_price
		FROM
		client c
		LEFT JOIN
		holdings h ON c.client_id = h.client_id
		WHERE
		c.client_id = #{clientId}
		ORDER BY
		c.client_id, h.instrument_id
	</select>

	<update id="updateClientBalance">
		UPDATE client
		SET curr_balance = #{currBalance}
		WHERE client_id = #{clientId}
	</update>

	<insert id="addClientHoldings">
		INSERT INTO holdings (client_id, instrument_id, quantity, avg_price)
		VALUES
		(
		#{clientId},
		#{holding.instrumentId},
		#{holding.quantity},
		#{holding.avgPrice}
		)
	</insert>

	<update id="updateClientHoldings">
		UPDATE holdings
		SET quantity = #{holding.quantity}, avg_price = #{holding.avgPrice}
		WHERE client_id = #{clientId} AND instrument_id =
		#{holding.instrumentId}
	</update>
	
	<delete id="deleteClientHoldings">
		DELETE FROM holdings
		WHERE client_id = #{clientId} AND instrument_id = #{holding.instrumentId}
	</delete>

</mapper>