<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marshals.integration.mapper.ClientTradeMapper">
	
	<resultMap type="Trade" id="TradeMap">
		<id property="tradeId" column="TRADE_ID" />
		<result property="executionPrice" column="EXECUTION_PRICE" />
		<result property="cashValue" column="CASH_VALUE" />
		<result property="instrumentId" column="INSTRUMENT_ID" />
		<result property="quantity" column="QUANTITY" />
		<result property="direction" column="DIRECTION" />
		<result property="clientId" column="CLIENT_ID" />
	</resultMap>
	
	<resultMap type="Trade" id="TradeHistoryMap">
		<id property="tradeId" column="TRADE_ID" />
		<result property="executionPrice" column="EXECUTION_PRICE" />
		<result property="cashValue" column="CASH_VALUE" />
		<result property="instrumentId" column="INSTRUMENT_ID" />
		<result property="quantity" column="QUANTITY" />
		<result property="direction" column="DIRECTION" />
		<result property="clientId" column="CLIENT_ID" />
		<result property="executedAt" column="EXECUTED_AT"/>
	</resultMap>
	
	<resultMap type="Order" id="OrderMap">
		<id property="orderId" column="ORDER_ID" />
		<result property="instrumentId" column="INSTRUMENT_ID" />
		<result property="quantity" column="QUANTITY" />
		<result property="targetPrice" column="TARGET_PRICE" />
		<result property="direction" column="DIRECTION" />
		<result property="clientId" column="CLIENT_ID" />
		<result property="token" column="TOKEN" />
	</resultMap>

	<resultMap id="TradeWithOrderMap" extends="TradeMap" type="Trade">
		<association property="order" resultMap="OrderMap" />
	</resultMap>
	
	<resultMap id="TradeHistoryWithOrderMap" extends="TradeHistoryMap" type="Trade">
		<association property="order" resultMap="OrderMap" />
	</resultMap>

	<select id="getClientTradeHistory" resultMap="TradeHistoryWithOrderMap">
		SELECT
		t.trade_id,
		t.cash_value,
		t.execution_price,
		t.executed_at,
		o.client_id,
		o.instrument_id,
		o.quantity,
		o.direction,
		o.order_id,
		o.token,
		o.target_price
		FROM
		CLIENT_TRADE t
		INNER JOIN CLIENT_ORDER o
		ON
		t.ORDER_ID = o.ORDER_ID
		WHERE
		o.client_id = #{clientId}
		ORDER BY t.executed_at desc
	</select>

	<insert id="addTrade" parameterType="Trade">
		INSERT INTO CLIENT_TRADE(TRADE_ID, ORDER_ID, EXECUTION_PRICE,
		CASH_VALUE, EXECUTED_AT)
		VALUES(#{tradeId}, #{order.orderId}, #{executionPrice}, #{cashValue},
		CURRENT_TIMESTAMP)
	</insert>

	<insert id="addOrder" parameterType="Order">
		INSERT INTO CLIENT_ORDER(INSTRUMENT_ID, QUANTITY, TARGET_PRICE,
		DIRECTION, CLIENT_ID, ORDER_ID, TOKEN)
		VALUES(#{instrumentId}, #{quantity}, #{targetPrice}, #{direction},
		#{clientId}, #{orderId}, #{token})
	</insert>

</mapper>