<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marshals.integration.mapper.ClientPreferencesMapper">
 
	<resultMap id="ClientPreferenceMap" type="ClientPreferences">
		<id property="clientId" column="CLIENT_ID"/>
		<result property="investmentPurpose" column="INVESTMENT_PURPOSE" />
		<result property="incomeCategory" column="INCOME_CATEGORY" />
		<result property="lengthOfInvestment" column="LENGTH_OF_INVESTMENT" />
		<result property="percentageOfSpend" column="PERCENTAGE_OF_SPEND" />
		<result property="riskTolerance" column="RISK_TOLERANCE" />
		<result property="acceptAdvisor" column="IS_ADVISOR_ACCEPTED" />
	</resultMap>
	
	<select id="getClientPreferences" resultMap="ClientPreferenceMap">
		SELECT cp.client_id, 
		    cp.investment_purpose,
		    cp.income_category,
		    cp.length_of_investment,
		    cp.percentage_of_spend,
		    cp.risk_tolerance,
		    cp.is_advisor_accepted
		FROM CLIENT_PREFERENCES cp
		WHERE cp.client_id = #{value}
	</select>
	
	<insert id="addClientPreferences" parameterType="ClientPreferences">
		INSERT INTO client_preferences (
		    client_id,
		    investment_purpose,
		    income_category,
		    length_of_investment,
		    percentage_of_spend,
		    risk_tolerance,
		    is_advisor_accepted
		) VALUES (
			#{clientId}, 
			#{investmentPurpose}, 
			#{incomeCategory}, 
			#{lengthOfInvestment}, 
			#{percentageOfSpend}, 
			#{riskTolerance}, 
			#{acceptAdvisor}
		)
	</insert>
	
	<update id="updateClientPreferences" parameterType="ClientPreferences"> 
		UPDATE client_preferences
		SET investment_purpose = #{investmentPurpose},
			income_category = #{incomeCategory},
			length_of_investment = #{lengthOfInvestment},
			percentage_of_spend = #{percentageOfSpend},
			risk_tolerance = #{riskTolerance},
			is_advisor_accepted = #{acceptAdvisor}
		WHERE client_id = #{clientId}
	</update>

</mapper>