.balance{
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgreen;
    padding-bottom: 15px;
}

.title{
    border: 2px solid darkgreen; 
    padding: 10px; 
    margin: 0; 
    background-color: #fff;

}

  #MyChart {
    width: 100%;
    width: 500px; 
    /* margin-top: 10px; */
    height: 500px;
  }

  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container span {
    margin-bottom: 10px; 
    font-weight: 500;
}