<div style="display: flex; align-items: center; justify-content: center;">
<div style="margin-right: 20px;">
    <mat-card class="balance">
        <mat-card-header>
            <h2 class="title">Current Balance:</h2> 
        </mat-card-header>
        <mat-card-content class="balance-value">
            {{portfolioData?.currBalance}}
        </mat-card-content>
    </mat-card>
    
</div>
<div class="chart-container">
    <span class="chart-title">Portfolio Split (%)</span>
    <canvas  id="MyChart" >{{ chart }}</canvas>
    </div>
</div>

<h2> My Holdings </h2>

<div class="grid-container ag-theme-alpine">
    <ag-grid-angular style="height: 100%; width:96%;" [rowData]="transformedData" [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef" [sideBar]="sidebar"
        [rowMultiSelectWithClick]="false"
        (cellClicked)="cellClicked($event)"
    />
</div>