<h1>CLIENT ACTIVITY REPORTS</h1>

<!-- If user is not admin
<section *ngIf="!clientProfileData?.client?.isAdmin">
  <h2> Please select the kind of report you'd like to download for your activity from the options below: </h2>
  <div class="form">
    <form [formGroup]="yourReport" (ngSubmit)="onSubmitYourReportForm()">
      <div class="horizontal-fields">
        <mat-form-field appearance="outline">
          <mat-label>Report Type</mat-label>
          <mat-select formControlName="reportType">
            <mat-option *ngFor="let report of report_types" [value]="report.value">
              {{report.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="download-button">
        <button type="submit" [disabled]="!yourReport.valid" mat-raised-button> View Report </button>
      </div>
    </form>
  </div>
</section> -->


<!--If user is admin-->
<section>
  <mat-tab-group>
      <mat-tab label="View your activity">
        <div class="mat-tab-content">
          <h2> Please select the kind of report you'd like to download for your activity from the options below: </h2>
          <div class="form">
            <form [formGroup]="yourReport" (ngSubmit)="onSubmitYourReportForm()">
              <div class="horizontal-fields">
                <mat-form-field appearance="outline">
                  <mat-label>Report Type</mat-label>
                  <mat-select formControlName="reportType">
                    <mat-option *ngFor="let report of report_types" [value]="report.value">
                      {{report.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
  
              <div class="download-button">
                <button type="submit" [disabled]="!yourReport.valid" mat-raised-button> View Report </button>
              </div>
            </form>
          </div>
          <div>
            <div *ngIf="yourReportTypeSelected === 'Holdings Report'">
              <div class="export-button">
                <button [disabled]="!yourReport.valid" (click)="onBtExport(yourReportTypeSelected)" mat-raised-button> Export as Excel </button>
              </div>
              <div class="grid-container ag-theme-alpine">
                <ag-grid-angular style="height: 100%; width:96%;" [rowData]="transformedData"
                  [columnDefs]="holdingsColumnDefs" [defaultColDef]="defaultColDef" [sideBar]="sidebar"
                  (gridReady)="onGridReady($event)"  
                />
              </div>
            </div>
            <div *ngIf="yourReportTypeSelected === 'Trade Report'">
              <div class="export-button">
                <button [disabled]="!yourReport.valid" (click)="onBtExport(yourReportTypeSelected)" mat-raised-button> Export as Excel </button>
              </div>
              <div class="grid-container ag-theme-alpine">
                <ag-grid-angular style="height: 100%; width:96%;" [rowData]="tradeHistoryData"
                  [columnDefs]="tradesColumnDefs" [defaultColDef]="defaultColDef" [sideBar]="sidebar" 
                  (gridReady)="onGridReady($event)"
                />
              </div>
            </div>
            <div *ngIf="yourReportTypeSelected === 'P&L Report'">
              <div class="export-button">
                <button [disabled]="!yourReport.valid" (click)="onBtExport(yourReportTypeSelected)" mat-raised-button> Export as Excel </button>
              </div>
              <div class="grid-container ag-theme-alpine">
                <ag-grid-angular style="height: 100%; width:96%;" [rowData]="profitLossData"
                  [columnDefs]="plReportColumnDefs" [defaultColDef]="defaultColDef" [sideBar]="sidebar" 
                  (gridReady)="onGridReady($event)"
                />
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="View other clients' activity" *ngIf="clientProfileData?.client?.isAdmin == 'Y'">
        <div class="mat-tab-content">
          <h2> Please select the client and the kind of report you'd like to download for their activity from the options
            below: </h2>
          <div class="form">
            <form [formGroup]="othersReport" (ngSubmit)="onSubmitOthersReportForm()">
              <div class="horizontal-fields">
                <mat-form-field appearance="outline">
                  <!-- <mat-label>Client</mat-label>
                  <mat-select formControlName="clientId">
                  <mat-option *ngFor="let report of report_types" [value]="report.value">
                                      {{report.name}}
                  </mat-option>
                  </mat-select> -->
                  <mat-label>Client ID</mat-label>
                  <input formControlName="clientId" matInput placeholder="12345678">
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Report Type</mat-label>
                  <mat-select formControlName="reportType">
                    <mat-option *ngFor="let report of report_types" [value]="report.value">
                      {{report.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
  
  
              <!-- [disabled]="!othersReport.valid" -->
              <div class="download-button">
                <button type="submit" mat-raised-button> View Report </button>
              </div>
            </form>
          </div>
          <div *ngIf="otherReportTypeSelected === 'Holdings Report'">
            <div class="export-button">
              <button [disabled]="!othersReport.valid" (click)="onBtExportForOtherUser(otherReportTypeSelected)" mat-raised-button> Export as Excel </button>
            </div>
            <div class="grid-container ag-theme-alpine">
              <ag-grid-angular style="height: 100%; width:96%;" [rowData]="transformedData"
                [columnDefs]="holdingsColumnDefs" [defaultColDef]="defaultColDef" [sideBar]="sidebar" 
                (gridReady)="onGridReady($event)"
              />
            </div>
          </div>
          <div *ngIf="otherReportTypeSelected === 'Trade Report'">
            <div class="export-button">
              <button [disabled]="!othersReport.valid" (click)="onBtExportForOtherUser(otherReportTypeSelected)" mat-raised-button> Export as Excel </button>
            </div>
            <div class="grid-container ag-theme-alpine">
              <ag-grid-angular style="height: 100%; width:96%;" [rowData]="tradeHistoryData"
                [columnDefs]="tradesColumnDefs" [defaultColDef]="defaultColDef" [sideBar]="sidebar" 
                (gridReady)="onGridReady($event)"  
              />
            </div>
          </div>
          <div *ngIf="otherReportTypeSelected === 'P&L Report'">
            <div class="export-button">
              <button [disabled]="!othersReport.valid" (click)="onBtExportForOtherUser(otherReportTypeSelected)" mat-raised-button> Export as Excel </button>
            </div>
            <div class="grid-container ag-theme-alpine">
              <ag-grid-angular style="height: 100%; width:96%;" [rowData]="profitLossData"
                [columnDefs]="plReportColumnDefs" [defaultColDef]="defaultColDef" [sideBar]="sidebar"
                (gridReady)="onGridReady($event)"
              />
            </div>
          </div>
        </div>
      </mat-tab>
    
  </mat-tab-group>
</section>