<h2>USER CLIENT ACTIVITY REPORT</h2>

<div class="form">
  <form [formGroup]="report" (ngSubmit)="onSubmit()">
    <div class="horizontal-fields">
      <mat-form-field appearance="outline">
        <mat-label>Report Type</mat-label>
        <mat-select formControlName="reportType">
          <mat-option *ngFor="let report of report_types" [value]="report.value">
            {{report.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="center-buttons">
      <button type="submit" [disabled]="!report.valid" mat-raised-button color="primary">Download Report</button>
    </div>
  </form>
</div>