<div mat-dialog-title>
    <h1>Trade Form</h1>
</div>
<div mat-dialog-content>
    <div>
        <h2>{{ this.instrument.instrumentDescription }}</h2>
        <p>External ID: {{ this.instrument.externalId }}</p>
        <p *ngIf="this.direction === 'B'"><b>Bid Price: {{ this.bidPrice }}</b></p>
        <p *ngIf="this.direction === 'S'"><b>Sell Price: {{ this.askPrice }}</b></p>
    </div>
    <div class="row">
        <mat-form-field>
            <mat-label>Instrument ID</mat-label>
            <input matInput [(ngModel)]="order.instrumentId" disabled/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Direction</mat-label>
            <mat-select [(ngModel)]="order.direction">
                <mat-option value="B">Buy</mat-option>
                <mat-option value="S">Sell</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <mat-label>Quantity</mat-label>
            <input matInput [(ngModel)]="order.quantity" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Target Price</mat-label>
            <input matInput [(ngModel)]="order.targetPrice" />
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button style="background-color: #046223;" mat-raised-button color="primary" (click)="executeTrade(order)" [mat-dialog-close]="true">
        Submit
    </button>
    <button mat-raised-button mat-dialog-close>
        Cancel
    </button>
</div>
